{% extends "Crianzas/base.html" %}

{% load static %}

{% block title %}Repartos por Año{% endblock %}

{% block content %}

    <div class="container">

        {% if request.user.is_authenticated %}

            <div class="row justify-content-center" style="color: white; font-size:medium;">REPARTOS AGRUPADOS POR AÑO</div>
            <div id="stickytab" class="table-responsive">
                <table class="table table-bordered table-dark table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center; vertical-align: middle;" class="sorting desc">Año</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Crianzas</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Total $</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">$ x Crianza</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Total U$S Of</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">U$S Of x Crianza</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Total U$S Blue</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">U$S Blue x Crianza</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Total U$S Prom</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">U$S Prom x Crianza</th>
                        </tr>
                    </thead>
                    
                    <tbody>

                        {% for repartoporanio in repartosporanio %}

                            <tr>
                                <td style="text-align: center;">{{repartoporanio.fecha__year}}</td>
                                <td style="text-align: end;">{{repartoporanio.Crianzas|floatformat:"1g"}}</td>
                                <td style="text-align: end;">{{repartoporanio.Total_Pesos|floatformat:"2g"}}</td>
                                <td style="text-align: end;">{{repartoporanio.Pesos_x_Crianza|floatformat:"2g"}}</td>
                                <td style="text-align: end;">{{repartoporanio.Total_US_Oficial|floatformat:"2g"}}</td>
                                <td style="text-align: end;">{{repartoporanio.USOf_x_Crianza|floatformat:"2g"}}</td>
                                <td style="text-align: end;">{{repartoporanio.Total_US_Blue|floatformat:"2g"}}</td>
                                <td style="text-align: end;">{{repartoporanio.USBlue_x_Crianza|floatformat:"2g"}}</td>
                                <td style="text-align: end;">{{repartoporanio.Total_US_Promedio|floatformat:"2g"}}</td>
                                <td style="text-align: end;">{{repartoporanio.USProm_x_Crianza|floatformat:"2g"}}</td>
                            </tr>

                        {% endfor %}

                    </tbody>

                    <tfoot>
                        <tr>
                            <td scope="col" style="text-align: center; vertical-align: middle;">TOTALES</th>
                            <td scope="col" style="text-align: end;">{{repartostotal.Crianzas|floatformat:"1g"}}</td>
                            <td scope="col" style="text-align: end;">{{repartostotal.Total_Pesos|floatformat:"2g"}}</td>
                            <td scope="col" style="text-align: end;">{{repartostotal.Pesos_x_Crianza|floatformat:"2g"}}</td>
                            <td style="text-align: end;">{{repartostotal.Total_US_Oficial|floatformat:"2g"}}</td>
                            <td style="text-align: end;">{{repartostotal.USOf_x_Crianza|floatformat:"2g"}}</td>
                            <td style="text-align: end;">{{repartostotal.Total_US_Blue|floatformat:"2g"}}</td>
                            <td style="text-align: end;">{{repartostotal.USBlue_x_Crianza|floatformat:"2g"}}</td>
                            <td style="text-align: end;">{{repartostotal.Total_US_Promedio|floatformat:"2g"}}</td>
                            <td style="text-align: end;">{{repartostotal.USProm_x_Crianza|floatformat:"2g"}}</td>
                        </tr>
                    </tfoot>

                </table>
            </div>

        {% else %}

            <div class="alert alert-danger text-center">Debe iniciar sesión para ver Repartos agrupados por Año</div>

        {% endif %}

    </div>
    <br>
    
{% endblock %}
