{% extends "Crianzas/base.html" %}

{% load static %}

{% block title %}Repartos por Año{% endblock %}

{% block content %}

    <div class="container">

        {% if request.user.is_authenticated %}

            <div class="row justify-content-center" style="color: white; font-size:medium;">REPARTOS AGRUPADOS POR AÑO</div>
            <div id="stickytab" class="table-responsive">
                <table class="table table-bordered table-dark table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center; vertical-align: middle; font-size: small;" class="sorting desc">Año</th>
                            <th scope="col" style="text-align: center; vertical-align: middle; font-size: small;">Crianzas Repartidas</th>
                            <th scope="col" style="text-align: center; vertical-align: middle; font-size: small;">$ Repartidos</th>
                            <th scope="col" style="text-align: center; vertical-align: middle; font-size: small;">$ x Crianza Repartidos</th>
                            <th scope="col" style="text-align: center; vertical-align: middle; font-size: small;">En U$S Of.</th>
                            <th scope="col" style="text-align: center; vertical-align: middle; font-size: small;">En U$S Of. x Crianza</th>
                            <th scope="col" style="text-align: center; vertical-align: middle; font-size: small;">En U$S Blue</th>
                            <th scope="col" style="text-align: center; vertical-align: middle; font-size: small;">En U$S Blue x Crianza</th>
                            <th scope="col" style="text-align: center; vertical-align: middle; font-size: small;">En U$S Prom.</th>
                            <th scope="col" style="text-align: center; vertical-align: middle; font-size: small;">En U$S Prom. x Crianza</th>
                        </tr>
                    </thead>
                    
                    <tbody>

                        {% for repartoporanio in repartosporanio %}

                            <tr>
                                <td style="text-align: center; font-size: small;">{{repartoporanio.fecha__year}}</td>
                                <td style="text-align: end; font-size: small;">{{repartoporanio.Crianzas|floatformat:"1g"}}</td>
                                <td style="text-align: end; font-size: small;">{{repartoporanio.Total_Pesos|floatformat:"2g"}}</td>
                                <td style="text-align: end; font-size: small;">{{repartoporanio.Pesos_x_Crianza|floatformat:"2g"}}</td>
                                <td style="text-align: end; font-size: small;">{{repartoporanio.Total_US_Oficial|floatformat:"2g"}}</td>
                                <td style="text-align: end; font-size: small;">{{repartoporanio.USOf_x_Crianza|floatformat:"2g"}}</td>
                                <td style="text-align: end; font-size: small;">{{repartoporanio.Total_US_Blue|floatformat:"2g"}}</td>
                                <td style="text-align: end; font-size: small;">{{repartoporanio.USBlue_x_Crianza|floatformat:"2g"}}</td>
                                <td style="text-align: end; font-size: small;">{{repartoporanio.Total_US_Promedio|floatformat:"2g"}}</td>
                                <td style="text-align: end; font-size: small;">{{repartoporanio.USProm_x_Crianza|floatformat:"2g"}}</td>
                            </tr>

                        {% endfor %}

                    </tbody>

                    <tfoot>
                        <tr>
                            <td scope="col" style="text-align: center; vertical-align: middle; font-size: small;">TOTALES</th>
                            <td scope="col" style="text-align: end; font-size: small;">{{repartostotal.Crianzas|floatformat:"1g"}}</td>
                            <td scope="col" style="text-align: end; font-size: small;">{{repartostotal.Total_Pesos|floatformat:"2g"}}</td>
                            <td scope="col" style="text-align: end; font-size: small;">{{repartostotal.Pesos_x_Crianza|floatformat:"2g"}}</td>
                            <td style="text-align: end; font-size: small;">{{repartostotal.Total_US_Oficial|floatformat:"2g"}}</td>
                            <td style="text-align: end; font-size: small;">{{repartostotal.USOf_x_Crianza|floatformat:"2g"}}</td>
                            <td style="text-align: end; font-size: small;">{{repartostotal.Total_US_Blue|floatformat:"2g"}}</td>
                            <td style="text-align: end; font-size: small;">{{repartostotal.USBlue_x_Crianza|floatformat:"2g"}}</td>
                            <td style="text-align: end; font-size: small;">{{repartostotal.Total_US_Promedio|floatformat:"2g"}}</td>
                            <td style="text-align: end; font-size: small;">{{repartostotal.USProm_x_Crianza|floatformat:"2g"}}</td>
                        </tr>
                    </tfoot>

                </table>
            </div>

        {% else %}

            <div class="alert alert-danger text-center">Debe iniciar sesión para ver Repartos agrupados por Año</div>

        {% endif %}

    </div>
    <br>
    
{% endblock %}
