{% extends "Crianzas/base.html" %}

{% load static %}

{% block title %}Cobranzas por Crianza{% endblock %}

{% block content %}

    <div class="container">

        {% if request.user.is_authenticated %}

            <div class="tabcaption">{{total.modo}}</div>
            
            <div id="stickytab" class="table-responsive">
                <table class="table table-bordered table-dark table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center; vertical-align: middle;" class="sorting desc">Crianza</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Inicio</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Fin</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Días</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Faenado</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Precio x pollo $</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Precio x pollo u$d</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Cobranza Total $</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Cobranza Total u$d</th>
                        </tr>
                    </thead>
                    
                    <tbody>

                        {% for clave, valor in cobros.items %}

                            <tr>
                                <td data-label="Crianza" style="text-align: center;"><a href="CobrosXCrianza/{{clave}}" style="color: yellowgreen;">{{clave}}</a></th>
                                <td data-label="Inicio" style="text-align: center;">{{valor.fini|date:"d/m/Y"}}</td>
                                <td data-label="Fin" style="text-align: center;">{{valor.ffin|date:"d/m/Y"}}</td>
                                <td data-label="Días" style="text-align: end;">{{valor.dias}}</td>
                                <td data-label="Faenado" style="text-align: end;">{{valor.faenado}}</td>
                                <td data-label="Precio x pollo $" style="text-align: end; font-weight:bolder;">{{valor.cobroxpollopesos|floatformat:"2g"}}</td>
                                <td data-label="Precio x pollo u$d" style="text-align: end; font-weight:bolder;">{{valor.cobroxpollousd|floatformat:"2g"}}</td>
                                <td data-label="Cobranza Total $" style="text-align: end; font-weight: bolder;">{{valor.totalpesos|floatformat:"2g"}}</td>
                                <td data-label="Cobranza Total u$d" style="text-align: end; font-weight:bolder;">{{valor.totalusd|floatformat:"2g"}}</td>
                            </tr>

                        {% endfor %}

                    </tbody>

                </table>
            </div>

        {% else %}

            <div class="alert alert-danger text-center">Debe iniciar sesión para ver Cobranzas por Crianza</div>

        {% endif %}

    </div>
    
{% endblock %}
