{% extends "Crianzas/base.html" %}

{% load static %}

{% block title %}Aportes por Socio{% endblock %}

{% block content %}

    <div class="container">

        {% if request.user.is_authenticated %}

            <div class="row justify-content-center" style="color: white; font-size:medium;">APORTES AGRUPADOS POR SOCIO</div>
            <div id="stickytab" class="table-responsive">
                <table class="table table-bordered table-dark table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Socio</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;" class="sorting desc">Aportes en $</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Aportes en U$S</th>
                        </tr>
                    </thead>
                    
                    <tbody>

                        {% for clave, valor in aportesporsocio.items %}

                            <tr>
                                <td style="text-align: left;">{{clave}}</td>
                                <td style="text-align: end;">{{valor.impte_pesos|floatformat:"2g"}}</td>
                                <td style="text-align: end;">{{valor.impte_dolar|floatformat:"2g"}}</td>
                            </tr>
                                
                        {% endfor %}

                    </tbody>

                    <tfoot>
                        <tr>
                            <td scope="col" style="text-align: center; vertical-align: middle;">T O T A L E S</th>
                            <td scope="col" style="text-align: end;">{{aportespormoneda.total_pesos|floatformat:"2g"}}</td>
                            <td scope="col" style="text-align: end;">{{aportespormoneda.total_dolar|floatformat:"2g"}}</td>
                        </tr>
                    </tfoot>

                </table>
            </div>

        {% else %}

            <div class="alert alert-danger text-center">Debe iniciar sesión para ver Repartos agrupados por Socio</div>

        {% endif %}

    </div>
    <br>
    
{% endblock %}
