{% extends "Crianzas/base.html" %}

{% load static %}

{% block title %}Resultado Económico{% endblock %}

{% block content %}

    <div class="container">

        {% if request.user.is_authenticated %}

            <div class="tabcaption">{{total.modo}}</div>
            <div id="stickytab" class="table-responsive">
                <table class="table table-bordered table-dark table-hover">
                    <thead>
                        <tr style="font-size: small;">
                            <th scope="col" style="text-align: center; vertical-align: middle;" class="sorting desc">Crianza</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Inicio</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Fin</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Días</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Faenado</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Cobranza $</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Cobranza u$d</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Costo $</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Costo u$d</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Resultado $</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Resultado u$d</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">% de Utilidad $</th>
                        </tr>
                    </thead>
                    
                    <tbody>

                        {% for clave, valor in resultados.items %}

                            <tr style="font-size: small;">
                                <td data-label="Crianza" style="text-align: center;"><a href="ResultadosXCrianza/{{clave}}" style="color: yellowgreen;">{{clave}}</a></td>
                                <td data-label="Inicio" style="text-align: center;">{{valor.fini|date:"d/m/Y"}}</td>
                                <td data-label="Fin" style="text-align: center;">{{valor.ffin|date:"d/m/Y"}}</td>
                                <td data-label="Días" style="text-align: end;">{{valor.dias}}</td>
                                <td data-label="Faenado" style="text-align: end;">{{valor.faenado}}</td>
                                <td data-label="Cobranza $" style="text-align: end;">{{valor.cobropesos|floatformat:"2g"}}</td>
                                <td data-label="Cobranza u$d" style="text-align: end;">{{valor.cobrousd|floatformat:"2g"}}</td>
                                <td data-label="Costo $" style="text-align: end;">{{valor.costopesos|floatformat:"2g"}}</td>
                                <td data-label="Costo u$d" style="text-align: end;">{{valor.costousd|floatformat:"2g"}}</td>
                                <td data-label="Resultado $" style="text-align: end;">{{valor.totalpesos|floatformat:"2g"}}</td>
                                <td data-label="Resultado u$d" style="text-align: end;">{{valor.totalusd|floatformat:"2g"}}</td>
                                <td data-label="% de Utilidad $" style="text-align: center;">{{valor.utilidad|floatformat:"1"}}</td>
                            </tr>

                        {% endfor %}

                    </tbody>

                </table>
            </div>

        {% else %}

            <div class="alert alert-danger text-center">Debe iniciar sesión para ver Resultados</div>

        {% endif %}

    </div>
    
{% endblock %}
