{% extends "Crianzas/base.html" %}

{% load static %}

{% block title %}Electricidad{% endblock %}

{% block content %}

    <div class="container">

        {% if request.user.is_authenticated %}

            <div class="row justify-content-center" style="color: white; font-size:medium;">CONSUMO Y GASTO DE ELECTRICIDAD POR CRIANZA</div>
            <div id="stickytab" class="table-responsive">
                <table class="table table-bordered table-dark table-hover table-fixed">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center; vertical-align: middle;" class="sorting desc">Crianza</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Inicio</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Fin</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Temporada</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Faenado</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Energía Activa-Kw x H</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Energía ReActiva-Kvar</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Pérdida-Kw</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Total $ Crianza</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Total U$S Crianza</th>
                        </tr>
                    </thead>
                    
                    <tbody>

                        {% for luz in luces %}

                            <tr>
                                <td style="text-align: center;">{{luz.idcrianza}}</th>
                                <td style="text-align: center;">{{luz.idcrianza.fechainicio|date:"d/m/Y"}}</td>
                                <td style="text-align: center;">{{luz.idcrianza.fechahasta|date:"d/m/Y"}}</td>
                                <td style="text-align: center;">{{luz.idcrianza.temporada_crianza}}</td>
                                <td style="text-align: center;">{{luz.idcrianza.faenado}}</td>
                                <td style="text-align: end;">{{luz.activa_kwxh}}</td>
                                <td style="text-align: end;">{{luz.reactiva_kvar}}</td>
                                <td style="text-align: end;">{{luz.perdida_kw|floatformat:"2g"}}</td>
                                <td style="text-align: end;">{{luz.total_pesos}}</td>
                                <td style="text-align: end;">{{luz.total_usds_paralelos}}</td>
                            </tr>

                        {% endfor %}

                    </tbody>

                </table>
            </div>

        {% else %}

            <div class="alert alert-danger text-center">Debe iniciar sesión para ver el consumo de Gas</div>

        {% endif %}

    </div>
    <br>
    
{% endblock %}
