body {
  font-family: 'Lora';
  background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../img/crianza_avanzada.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora';
}

p {
  line-height: 1.75;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

.site-heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1;
  font-family: 'Raleway';
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 4rem;
  font-weight: 100;
  line-height: 3rem;
}

.page-section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom: .5rem;

}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

.section-heading .section-heading-under {
  display: block;
  font-size: 1rem;
  text-transform: none;
  font-weight: 300;
  margin-top: .5rem;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}

#mainNav {
  background-color: rgba(24, 64, 8);
  border: rgba(255, 255, 255, 0.75) solid 1px;
  font-family: 'Raleway';
}

#mainNav .navbar-brand {
  color: #ffffff;
}

#mainNav .navbar-brand img {
   width: 70px;
   height: 84px;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #ffffff;
  text-decoration: underline;
}

.intro {
  position: relative;
}

.intro .intro-text {
  text-align: center;
  top: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.intro .intro-p {
  margin-bottom: 0.25rem;
  text-align: justify;
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(242, 245, 240);
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(24, 64, 8);
  color: cornsilk;
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

.cta .cta-innerv {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.footer {
  background-color: rgba(24, 64, 8, 0.8);
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}

.mbt {
  padding-top: 2rem;
}

a.link {
  color: rgba(255, 255, 255, 0.7);
}

a.link:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.tabcaption {
  color: white;
  font-size: medium;
}

.btncrear {
  display: none;
}

.titucard {
  text-align: left;
  font-size: xx-large;
}

.subtitucard {
  text-align: left;
  font-size: small;
}

.titucardhl {
  text-align: left;
  font-size: x-large;
}

.titucardhr {
   text-align: right;
   font-size: large;
  }

.titucardresu {
  text-align: right;
  font-size: larger;
  font-weight: bold;
  }

.subtitucardb {
  text-align: left;
  font-size: small;
  padding-left: 1rem;
}

/* CSS para ordenamiento de tablas */
table thead tr th {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sorting {
  background-color: grey;
}

.asc:after {
  content: ' ▲';
}

.desc:after {
  content: ' ▼';
}

.resaltar {
  cursor: default;
  background-color: grey;
}

/* CSS para dejar fijo el encabezado de una tabla */
/* Contenedor externo */
#stickytab {
  display: inline-block;
  height: 53%;
  width: 102%;
  overflow: auto;
  resize: both;
  margin-bottom: 0.5em;
}

/* Tabla */
#stickytab table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Celdas */
#stickytab table tr * {
  border: black solid 1px;
}

/* Celdas del encabezado */
#stickytab table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  border: black solid 1px;
  background-color: rgb(85, 84, 84);
}

/* Celdas del pie */
#stickytab table tfoot {
  position: sticky;
  bottom: 0;
  z-index: 1;
  border-top: black solid 1px;
  background-color: rgb(85, 84, 84);
}

/* Menú desplegable */
.dropdown-menu {
  background-color: rgba(24, 64, 8);
  font-weight: bold !important;
  border-color: rgba(255, 255, 255, 0.75);
}

.dropdown-item {
  color: #ffffff;
}

.dropdown-item:hover {
  font-weight: bold !important;
}

.th-size {
  width: 20%;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 3px;
  top: 40%;
}

.dropdown-submenu:hover .dropdown-menu,
.dropdown-submenu:focus .dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute !important;
  margin-top: -30px;
  left: 100%;
}

/* Media Query */
@media (max-width: 767px) {
  #mainNav .navbar-brand img {
    transform: scale(0.75);
  }
  
  #mainNav .navbar-toggler {
    transform: scale(0.75);
  }
  
  #mainNav .navbar-toggler .navbar-toggler-icon {
    transform: scale(0.75);
  }
  
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.7rem;
  }

  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: underline;
  }

  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: black;
    text-decoration: underline;
  }

  .dropdown-menu {
    width: 35%;
  }

  .dropdown-menu .dropdown-submenu {
    width: auto;
  }

  .dropdown-menu .dropdown-item {
    font-size: 0.7rem;
  }

  .tabcaption {
    font-size: 0.75rem;
  }

  .btncrear {
    display: block;
    border-color: black;
    margin-bottom: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.6rem;
  }

  #stickytab table {
    border: 0rem;
  }

  #stickytab table thead, #stickytab table tfoot {
    display: none;
  }

  #stickytab table tr {
    margin-bottom: 0.5rem;
    border-bottom: 0.25rem solid #ddd;
    display: block;
  }

  #stickytab table td {
    display: block;
    font-weight: normal !important;
    font-size: 0.75rem;
    border-bottom: 0.0625rem solid #ddd;
    text-align: right !important;
  }

  #stickytab table td:last-child {
    border-bottom: 0rem;
  }

  #stickytab table td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    float: left;
  }

  .footer {
    font-size: 0.5rem;  
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #mainNav .navbar-brand img {
    transform: scale(0.9);
  }
  
  #mainNav .navbar-toggler {
    transform: scale(0.9);
  }
  
  #mainNav .navbar-toggler .navbar-toggler-icon {
    transform: scale(0.9);
  }
  
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }

  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: underline;
  }

  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: black;
    text-decoration: underline;
  }

  .dropdown-menu {
    width: 50%;
  }

  .dropdown-menu .dropdown-submenu {
    width: auto;
  }

  .intro .intro-img {
    width: 100%;
    float: left;
  }

  .intro .intro-text {
    width: 100%;
  }

  .tabcaption {
    font-size: 0.9rem;
  }

  .btncrear {
    display: block;
    border-color: black;
    margin-bottom: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.6rem;
  }

  #stickytab table {
    border: 0rem;
  }

  #stickytab table thead, #stickytab table tfoot {
    display: none;
  }

  #stickytab table tr {
    margin-bottom: 0.5rem;
    border-bottom: 0.25rem solid #ddd;
    display: block;
  }

  #stickytab table td {
    display: block;
    font-weight: normal !important;
    font-size: 0.9rem;
    border-bottom: 0.0625rem solid #ddd;
    text-align: right !important;
  }

  #stickytab table td:last-child {
    border-bottom: 0rem;
  }

  #stickytab table td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    float: left;
  }

  .footer {
    font-size: 0.75rem;  
  }
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }

  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: underline;
  }

  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
  }

  .intro .intro-img {
    width: 75%;
    float: left;
  }

  .intro .intro-text {
    width: 50%;
    top: 3rem;
    left: 30rem;
    background-color: rgba(24, 64, 8);
    color: cornsilk;
    position: absolute;
  }

  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 50%;
  }
}
