{% extends "Crianzas/base.html" %}

{% load static %}

{% block title %}Repartos por Crianza{% endblock %}

{% block content %}

    <div class="container">

        {% if request.user.is_authenticated %}

            <div class="row justify-content-center" style="color: white; font-size:medium;">REPARTOS AGRUPADOS POR CRIANNZA</div>
            <div id="stickytab" class="table-responsive">
                <table class="table table-bordered table-dark table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center; vertical-align: middle;" class="sorting desc">Crianza</th>
                            <!-- <th scope="col" style="text-align: center; vertical-align: middle;">Desde</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Hasta</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Faenado</th> -->
                            <th scope="col" style="text-align: center; vertical-align: middle;">Total $</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Total U$S Oficial</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Total U$S Blue</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Total U$S Promedio</th>
                        </tr>
                    </thead>
                    
                    <tbody>

                        {% for repartoporcrianza in repartosporcrianza %}

                            <tr>
                                <td style="text-align: center;">{{repartoporcrianza.idcrianza_id}}</th>
                                <!-- <td style="text-align: center;">{{valor.fdesde|date:"d/m/Y"}}</td>
                                <td style="text-align: center;">{{valor.fhasta|date:"d/m/Y"}}</td>
                                <td style="text-align: end;">{{valor.faenado}}</td> -->
                                <td style="text-align: end;">{{repartoporcrianza.Total_Pesos|floatformat:"2g"}}</td>
                                <td style="text-align: end;">{{repartoporcrianza.Total_US_Oficial|floatformat:"2g"}}</td>
                                <td style="text-align: end;">{{repartoporcrianza.Total_US_Blue|floatformat:"2g"}}</td>
                                <td style="text-align: end;">{{repartoporcrianza.Total_US_Promedio|floatformat:"2g"}}</td>
                            </tr>

                        {% endfor %}

                    </tbody>

                    <tfoot>
                        <tr>
                            <td scope="col" style="text-align: center; vertical-align: middle;">T O T A L E S</th>
                            <td scope="col" style="text-align: end;">{{repartostotal.Total_Pesos|floatformat:"2g"}}</td>
                            <td style="text-align: end;">{{repartostotal.Total_US_Oficial|floatformat:"2g"}}</td>
                            <td style="text-align: end;">{{repartostotal.Total_US_Blue|floatformat:"2g"}}</td>
                            <td style="text-align: end;">{{repartostotal.Total_US_Promedio|floatformat:"2g"}}</td>
                        </tr>
                    </tfoot>

                </table>
            </div>

        {% else %}

            <div class="alert alert-danger text-center">Debe iniciar sesión para ver Repartos agrupados por Crianza</div>

        {% endif %}

    </div>
    <br>
    
{% endblock %}
