{% extends "Crianzas/base.html" %}

{% load static %}

{% block title %}Gestión del Gas{% endblock %}

{% block content %}

    <div class="container">

        {% if request.user.is_authenticated %}

            <div class="tabcaption">GESTION DEL CONSUMO Y GASTO DEL GAS POR CRIANZA</div>
            <div class="btncrear"><a href="CrearGas" class="btn btn-success btn-block">Crear</a></div>
            <div id="stickytab" class="table-responsive">
                <table class="table table-sm table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center; vertical-align: middle;" class="sorting desc">Crianza</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">m3 Medidor</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">m3 9300 Calorías</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Total $ Crianza</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Cot. u$s Blue</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;" colspan="2"><a href="CrearGas" class="btn btn-success btn-block">Crear</a></th>
                        </tr>
                    </thead>
                    
                    <tbody>

                        {% for gascrud in gasescrud %}

                            <tr>
                                <td data-label="Crianza" style="text-align: center; vertical-align: middle;">{{gascrud.idcrianza}}</th>
                                <td data-label="m3 Medidor" style="text-align: end; vertical-align: middle;">{{gascrud.m3_medidor}}</td>
                                <td data-label="m3 9300 Calorías" style="text-align: end; vertical-align: middle;">{{gascrud.m3_9300_cal|floatformat:"2g"}}</th>
                                <td data-label="Total $ Crianza" style="text-align: end; vertical-align: middle;">{{gascrud.total_pesos|floatformat:"2g"}}</td>
                                <td data-label="Cot. u$s Blue" style="text-align: end; vertical-align: middle;">{{gascrud.cot_usd_par|floatformat:"2g"}}</td>
                                <td data-label="" style="text-align: center;"><a href="EditarGas/{{gascrud.idcrianza}}" class="btn btn-primary btn-block">Editar</a></td>
                                <td data-label="" style="text-align: center;"><a href="EliminarGas/{{gascrud.idcrianza}}" class="btn btn-danger btn-block btnEliminacion">Eliminar</a></td>
                            </tr>

                        {% endfor %}

                    </tbody>

                </table>
            </div>

        {% else %}

            <div class="alert alert-danger text-center">Debe iniciar sesión para ver Gestión del Consumo de Gas</div>

        {% endif %}

    </div>
    
{% endblock %}
